hr {
  width: 98%;
  border-style: dotted none none;
  border-color: #750375;
  border-width: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.linkedin {
  color: #3076b0;
  padding-right: 10px;
}

.twitter {
  color: #6aace7;
  padding-right: 10px;
}

.meetup {
  color: #E35064;
}

.facebook {
  color: #4a598f;
  padding-right: 10px;
}

.icons {
  margin-left: 50px;
  font-size: 50px;
  text-align: center;
}

div.icons p {
  font-size: 20px;
}

div.profile {
  transform: translateY(20px);
}

.profile {
  background-image: url("../images/me.jpg");
  border-radius: 50%;
  background-repeat: no-repeat;
  height: 185px;
  width: 185px;
  margin-left: 20px;
  display: inline-block;
}

.hero-image {
  background-image: url("../images/singapore.jpg");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.images {
  background-repeat: no-repeat;
  align-self: center;
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  background-position: left, center, right;
}

div.hobbies {
  background-image: url("../images/reading.jpg"), url("../images/Running.jpeg"),
    url("../images/music.jpeg");
  width: 950px;
  height: 200px;
}

div.certs {
  background-image: url("../images/cert.png"), url("../images/clementi.png"),
    url("../images/cricklade.jpg");
  width: 750px;
  height: 200px;
}

div.hobs,
div.certs {
  display: flex;
  align-items: center;
}

.hobbies,
.certs {
  margin: auto;
}

div.hero-text {
  /* padding-bottom: 10px; */
  /* display: inline-block; */
  text-align: center;
  width: 15%;
  position: relative;
  margin: 0 auto;
}

.hero-text {
  color: purple;

  /* display: inline-block; */
  /* width: 15%; */
  /* margin: 0 auto; */
  /* position: relative; */
}

h3,
h1 {
  color: purple;
}

h3 {
  margin-top: 5px;
}

.h3Align {
  padding-left: 25px;
}

#text {
  color: #750375;
}

body {
  height: 100%;
  background-color: #F4E6FC;
}

.position {
  text-align: center;
  margin-bottom: 35px;
}

a:hover {
  color: blue;
  text-decoration: underline blue;
}

#contact {
  margin-left: 50px;
  color: #750375;
  text-align: center;
}

thead {
  background-color: black;
  color: white;
  text-align: left;
}

.borders {
  border: 2px solid black;
  border-collapse: collapse;
  padding-left: 10px;
}

td {
  /* padding-right: 5px; */
  padding: 0;
  /* width: 20%; */
}

.tableSpacing {
  width: 50%;
  margin-left: 250px;
  position: static;
}

.skills {
  margin-left: 100px;
  /* position: relative; */
  /* width: 30%; */
  margin: 0 0 10px 150px;
}

.width {
  width: 95%;
}

span {
  padding-right: 10px;
}

.unchecked {
  color: grey;
}

table {
  width: 85%;
  /* margin-left: 100px; */
  position: relative;
  margin: 0 auto;
}

.skills-align {
  padding-left: 100px;
  position: relative;
  margin: 0 auto;
}

.contactAlign {
  margin-left: 50px;
  font-size: 30px;
}

.align {
  flex-direction: row;
}
