.top {
  background-color: teal;
  text-align: center;
  position: relative;
  padding-top: 150px;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

.middle, .bottom {
 text-align: center;
}

.middle {
 
}

.bottom {
 
}

.bottomCloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.topCloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

div img {
 
}
